
CH02/graphtastic/__pycache__
CH03/graphtastic/__pycache__
CH04/.DS_Store
CH04/data/.DS_Store
CH02/.DS_Store
CH03/.DS_Store
.DS_Store
.DS_Store
*.pyc
*.pyc
CH05/graphtastic/database/__pycache__/__init__.cpython-38.pyc
CH05/graphtastic/__pycache__/__init__.cpython-38.pyc
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
